/* Created main content styling */
#wrapper {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 500px;
}
/* Created start quiz styling */
#startTime {
    background-color: purple;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}
/* Created questions styling */
#questionDiv {
    margin: 20px;
}
/* Created timer styling */
#currentTime {
    float: right;
}
/* Created back button styling */
#goBack {
    background-color: purple;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
}
/* Created clear button styling */
#clear {
    background-color: purple;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    right: 5%;
    text-align: center;
}
/* Adjust label and input styling */
label {
    margin-right: 10px;
}
input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
}
/* Create h1 styling */
h1 {
    text-align: center;
}
/* Create line styling */
li {
    background-color: purple;
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: white;
}
/* reate div styling */
#createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}