/* Created main content styling */
#wrapper {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 500px;
}
/* Created start quiz styling */
#startTime {
    background-color:teal;
    font-family: 'Grechen Fuemen', cursive;;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}
/* Created questions styling */
#questionDiv {
    margin: 20px;
}
/* Created timer styling */
#currentTime {
    position:fixed;
    top:0px;
    right:0px;
}
/* Created back button styling */
#goBack {
    background-color:teal;
    position: relative;
    padding: 10px;
    font-family: 'Grechen Fuemen', cursive;
    font-size: 20px;
    color: white;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
}
/* Created clear button styling */
#clear {
    background-color:teal;
    position: relative;
    padding: 10px;
    font-family: 'Grechen Fuemen', cursive;
    font-size: 20px;
    color: white;
    top: 30%;
    right: 5%;
    text-align: center;
}
/* Adjust label and input styling */
label {
    margin-right: 10px;
}
input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid gold;
}
/* Create h1 styling */
h1 {
    font-family: 'Grechen Fuemen', cursive;
    text-align: center;
}
/* Create line styling */
li {
    font-family: 'Grechen Fuemen', cursive;
    background-color:teal;
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: white;
}
/* Create submit button styling */
#Submit {
    font-family: 'Grechen Fuemen', cursive;
    background-color:teal;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}
/* Create div styling */
#createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}
@media screen and (max-width: 786px) {
    /* Created workable media condtent to resize when on different devices */
        body {
            max-width: 786px;
        }
    /* Re-sized main content to fit proper devices  */
    #wrapper {
        position: absolute;
        left: 20%;
    }

    a {
        margin-left: 20%;
    }
        #goBack {
            
            position: relative;
            left: 55%;
        }

        #clear {
            
            position: relative;
            right: 5%;
            
        }
    }
        
    /* A Media Query max-width: 640px */
    @media screen and (max-width: 640px) {
     /* Resized content to fit 640px  */
     body {
            min-width: 640px;
        }
    /* Resized main-content to fit 640px  */
    #wrapper {
        position: absolute;
        left: 10%;
    }
      a {
          margin-left: 10%;
      }

     
}